@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Employee MS</h1>
    <p class="lead">Employee MS is a branch lavel Employee manager. To access admin section please click</p>
    <p><a href="http://localhost:4438" class="btn btn-primary btn-large">Here &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Getting started @ViewData["allow"]</h2>
        <p>
            Application required login. Before you access any section , please do login.
        </p>
        <p>@Html.ActionLink("Login","login","account")</p>
    </div>
    
</div>